@import "mediaQueries/mediaMain";

.btn_todolist {
  display: block;
  width: max-content;
  margin: 50px auto 0;
  padding: 30px 80px;
  border-radius: 15px;
  background: #282c34;
  font-family: cursive;
  font-size: 30px;
  color: #e8e8e8;
  text-decoration: none;
  transition: 300ms;

  &:hover {
    background: #4a5262;
    color: black;
  }
}

@include wMax_910;
@include wMax_650;
@include wMax_495;
@include wMax_365;